* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 62.75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 9999;
}

.header .main_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .main_box .logo {
  width: 16%;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .main_box .logo img {
  width: 100%;
}

.header .main_box .navbar {
  width: 70%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .main_box .navbar ul {
  width: 85%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .main_box .navbar ul li a {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.625em;
}

.header .main_box .navbar ul .page {
  position: relative;
  -webkit-transition: 5s all ease-in-out;
  transition: 5s all ease-in-out;
}

.header .main_box .navbar ul .page:hover .dropdown-content {
  display: block;
}

.header .main_box .navbar ul .page a {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.625em;
}

.header .main_box .navbar ul .page .fa-angle-down {
  color: #fff;
  font-size: 11px;
  margin-left: 3px;
  cursor: pointer;
}

.header .main_box .navbar ul .page .dropdown-content {
  display: none;
  width: 190px;
  height: 98px;
  border: 1px solid #fff;
  background: #fff;
  margin: 21px 0 0 0;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 5px 0;
          box-shadow: 1px 1px 5px 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 99;
}

.header .main_box .navbar ul .page .dropdown-content ul {
  position: relative;
  width: 47%;
  height: auto;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.header .main_box .navbar ul .page .dropdown-content ul li {
  text-align: left;
}

.header .main_box .navbar ul .page .dropdown-content ul li a {
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.header .main_box .navbar ul .page .dropdown-content ul li a:hover {
  color: #49e4fa;
}

.header .main_box .navbar ul .page .dropdown-content ul li .left {
  position: relative;
  right: 4px;
}

.header .main_box .navbar ul .page .dropdown-content ul li .left_small {
  position: relative;
  right: 8px;
}

.header .main_box .navbar .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .main_box .navbar .link a {
  width: 82.83px;
  height: 32px;
  border: 1px solid #49e4fa;
  background: #49e4fa;
  padding: 6px 20px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.625em;
  color: #fff;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.header .main_box .navbar .link a:hover {
  color: #49e4fa;
  background-color: rgba(73, 228, 250, 0.2);
  border-color: rgba(73, 228, 250, 0.2);
}

.job_posted {
  width: 100%;
  height: 693px;
  background: url(/HOME/assets/image/background/header-bg.jpg.webp);
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.job_posted .overlay {
  background-image: -webkit-linear-gradient(0deg, #bfacff 0%, #795fff 100%);
  position: absolute;
  inset: 0px;
  opacity: 0.95;
}

.job_posted .container .search_catalog {
  width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.job_posted .container .search_catalog h1 {
  font-size: 48px;
  font-weight: 300;
  color: #fff;
  line-height: 1.2em;
  font-family: "Poppins", sans-serif;
}

.job_posted .container .search_catalog h1 span {
  color: #49e4fa;
}

.job_posted .container .search_catalog .select_box {
  width: 98%;
  height: 82px;
  background-color: #a998f6;
  border: 1px solid #b8aaf3;
  padding: 20px 0px;
  margin: auto;
}

.job_posted .container .search_catalog .select_box form {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.job_posted .container .search_catalog .select_box form .text_input {
  width: 30%;
  height: 40px;
}

.job_posted .container .search_catalog .select_box form .text_input input {
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  outline: none;
  border: 1px solid #ced4da;
}

.job_posted .container .search_catalog .select_box form .text_input input::-webkit-input-placeholder {
  font-size: 14px;
  color: #495057;
  font-family: "Poppins", sans-serif;
}

.job_posted .container .search_catalog .select_box form .text_input input:-ms-input-placeholder {
  font-size: 14px;
  color: #495057;
  font-family: "Poppins", sans-serif;
}

.job_posted .container .search_catalog .select_box form .text_input input::-ms-input-placeholder {
  font-size: 14px;
  color: #495057;
  font-family: "Poppins", sans-serif;
}

.job_posted .container .search_catalog .select_box form .text_input input::placeholder {
  font-size: 14px;
  color: #495057;
  font-family: "Poppins", sans-serif;
}

.job_posted .container .search_catalog .select_box form .select_input {
  width: 25%;
  height: 40px;
  border: 1px solid #ced4da;
  background: #fff;
  position: relative;
}

.job_posted .container .search_catalog .select_box form .select_input .text_icon {
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.job_posted .container .search_catalog .select_box form .select_input .text_icon p {
  color: #495057;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.job_posted .container .search_catalog .select_box form .select_input .text_icon .fa-angle-down {
  font-size: 12px;
  color: #777;
  cursor: pointer;
}

.job_posted .container .search_catalog .select_box form .select_input #list {
  width: 100%;
  background: #fff;
  overflow: hidden;
  position: absolute;
  z-index: 12;
}

.job_posted .container .search_catalog .select_box form .select_input #list .options {
  width: 100%;
  cursor: pointer;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  color: #495057;
  text-align: left;
  padding-left: 20px;
  padding-right: 29px;
  line-height: 28px;
}

.job_posted .container .search_catalog .select_box form .select_input #list .options:hover {
  color: #49e4fa;
}

.job_posted .container .search_catalog .select_box form .select_input #list .stabil_color {
  color: #49e4fa;
}

.job_posted .container .search_catalog .select_box form .select_input .hide {
  visibility: hidden;
}

.job_posted .container .search_catalog .select_box form .select_input .up_down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.job_posted .container .search_catalog .select_box form .select_category {
  width: 25%;
  height: 40px;
  background: white;
}

.job_posted .container .search_catalog .select_box form .select_category .category_icon {
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.job_posted .container .search_catalog .select_box form .select_category .category_icon p {
  color: #495057;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.job_posted .container .search_catalog .select_box form .select_category .category_icon .fa-angle-down {
  font-size: 12px;
  color: #777;
  cursor: pointer;
}

.job_posted .container .search_catalog .select_box form .select_category #choosing {
  width: 24.45%;
  background: #fff;
  overflow: hidden;
  position: absolute;
  z-index: 12;
}

.job_posted .container .search_catalog .select_box form .select_category #choosing .category_options {
  width: 100%;
  cursor: pointer;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  color: #495057;
  text-align: left;
  padding-left: 20px;
  padding-right: 29px;
  line-height: 28px;
}

.job_posted .container .search_catalog .select_box form .select_category #choosing .category_options:hover {
  color: #49e4fa;
}

.job_posted .container .search_catalog .select_box form .select_category #choosing .stabil_color {
  color: #49e4fa;
}

.job_posted .container .search_catalog .select_box form .select_category .empty {
  visibility: hidden;
}

.job_posted .container .search_catalog .select_box form .select_category .upDown {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.job_posted .container .search_catalog .select_box form .button_box {
  width: 13%;
  height: 40px;
}

.job_posted .container .search_catalog .select_box form .button_box .btn {
  width: 100%;
  height: 40px;
  background: #49e4fa;
  color: #fff;
  outline: none;
  border: 1px solid #49e4fa;
  padding: 6px 12px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.job_posted .container .search_catalog p {
  color: #fff;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.625em;
}

.job_posted .container .search_catalog p span {
  color: #49e4fa;
}

.security {
  width: 100%;
  height: 132.1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.security .main_boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -125px;
  position: relative;
  z-index: 30;
}

.security .main_boxes .square {
  width: 22%;
  height: 132.1px;
  background: #fff;
  -webkit-box-shadow: 1px 1px 5px 0;
          box-shadow: 1px 1px 5px 0;
  padding: 25px 0;
  text-align: center;
  border-radius: 5px;
}

.security .main_boxes .square h3 {
  color: #222222;
  line-height: 1.2;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.security .main_boxes .square p {
  font-size: 14px;
  color: #777777;
  font-weight: 300;
  line-height: 1.625em;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
}

.slide_box {
  width: 100%;
  height: 309.4px;
}

.slide_box .container .swiper {
  width: 100%;
  height: 300px;
}

.slide_box .container .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slide_box .container .swiper .swiper-slide .creavityly_box {
  width: 100%;
  height: 166.65px;
  border: 1px solid #222222;
  background: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide_box .container .swiper .swiper-slide .creavityly_box .creativyly_image {
  width: 25%;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.slide_box .container .swiper .swiper-slide .creavityly_box .creativyly_image .img {
  width: 48.73px;
  height: 28.65;
  position: relative;
  left: 12px;
  bottom: 28px;
}

.slide_box .container .swiper .swiper-slide .creavityly_box .creativyly_image .img img {
  width: 100%;
}

.slide_box .container .swiper .swiper-slide .creavityly_box .creativyly_image a {
  width: 106.41px;
  height: 40.75;
  padding: 9px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background: #49e4fa;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  position: relative;
  left: 27px;
  top: 18px;
  z-index: 2;
}

.slide_box .container .swiper .swiper-slide .creavityly_box .creativyly_image a:hover {
  color: #49e4fa;
  background: #1e2235;
}

.slide_box .container .swiper .swiper-slide .creavityly_box .creavityly_text {
  width: 75%;
  height: 160px;
  text-align: left;
}

.slide_box .container .swiper .swiper-slide .creavityly_box .creavityly_text h3 {
  color: #fff;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  line-height: 1.2em;
  font-weight: 600;
  margin-top: 10px;
}

.slide_box .container .swiper .swiper-slide .creavityly_box .creavityly_text h6 {
  color: #49e4fa;
  font-size: 14px;
  line-height: 1.2em;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-top: 8px;
}

.slide_box .container .swiper .swiper-slide .creavityly_box .creavityly_text p {
  font-weight: 300;
  line-height: 1.625em;
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin-top: 10px;
  position: relative;
}

.slide_box .container .swiper .swiper-slide .creavityly_box .creavityly_text p span {
  position: relative;
  left: 10px;
}

.slide_box .container .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.job_category {
  width: 100%;
  height: 381.7px;
  margin-top: 60px;
}

.job_category .jobCategory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.job_category .jobCategory .text_category {
  width: 90%;
  height: 151.95px;
  text-align: center;
}

.job_category .jobCategory .text_category h2 {
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  color: #222222;
  font-weight: 600;
  line-height: 1.2em;
}

.job_category .jobCategory .text_category p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  margin-top: 10px;
}

.job_category .jobCategory .img_category {
  width: 94%;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.job_category .jobCategory .img_category .square_image {
  width: 16%;
  height: 129.75px;
  padding: 20px 0;
  border: 1px solid #fff;
  background: #fff;
  -webkit-box-shadow: 1px 1px 5px 0;
          box-shadow: 1px 1px 5px 0;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.job_category .jobCategory .img_category .square_image:hover {
  border: 2px solid #49e4fa;
}

.job_category .jobCategory .img_category .square_image .img_catalog {
  width: 60px;
  height: 50px;
}

.job_category .jobCategory .img_category .square_image .img_catalog img {
  width: 100%;
}

.job_category .jobCategory .img_category .square_image .img_catalog2 {
  width: 54px;
  height: 50px;
}

.job_category .jobCategory .img_category .square_image .img_catalog2 img {
  width: 100%;
}

.job_category .jobCategory .img_category .square_image .img_catalog3 {
  width: 50px;
  height: 50px;
}

.job_category .jobCategory .img_category .square_image .img_catalog3 img {
  width: 100%;
}

.job_category .jobCategory .img_category .square_image .img_catalog4 {
  width: 50px;
  height: 50px;
}

.job_category .jobCategory .img_category .square_image .img_catalog4 img {
  width: 100%;
}

.job_category .jobCategory .img_category .square_image .img_catalog5 {
  width: 50px;
  height: 50px;
}

.job_category .jobCategory .img_category .square_image .img_catalog5 img {
  width: 100%;
}

.job_category .jobCategory .img_category .square_image .img_catalog6 {
  width: 57px;
  height: 50px;
}

.job_category .jobCategory .img_category .square_image .img_catalog6 img {
  width: 100%;
}

.location_lists {
  width: 100%;
  height: 2635.7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location_lists .jobList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location_lists .jobList .jobBoxes {
  width: 60%;
  height: 2395.7px;
}

.location_lists .jobList .jobBoxes .job_boxesNavbar {
  width: 99%;
  height: 36.75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.location_lists .jobList .jobBoxes .job_boxesNavbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.location_lists .jobList .jobBoxes .job_boxesNavbar ul li {
  width: 100px;
  height: 34.75px;
  border: 1px solid #eee;
  background: #fff;
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.location_lists .jobList .jobBoxes .job_boxesNavbar ul li:hover {
  background: #49e4fa;
}

.location_lists .jobList .jobBoxes .job_boxesNavbar ul li:hover a {
  color: #fff;
}

.location_lists .jobList .jobBoxes .job_boxesNavbar ul li a {
  font-weight: 600;
  line-height: 1.625em;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #222222;
  text-transform: uppercase;
}

.location_lists .jobList .jobBoxes .job_boxesDesigner {
  width: 100%;
  height: 2200px;
}

.location_lists .jobList .jobBoxes .job_boxesDesigner .designer_box {
  width: 100%;
  height: 294.6px;
  background: #f9f9ff;
  margin-top: 18px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.location_lists .jobList .jobBoxes .job_boxesDesigner .designer_box .designer_imgBox {
  width: 24%;
  height: 234.6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.location_lists .jobList .jobBoxes .job_boxesDesigner .designer_box .designer_imgBox .designer_img {
  width: 109px;
  height: 69px;
}

.location_lists .jobList .jobBoxes .job_boxesDesigner .designer_box .designer_imgBox .designer_img img {
  width: 100%;
}

.location_lists .jobList .jobBoxes .job_boxesDesigner .designer_box .designer_imgBox .desingner_link {
  width: 142.74px;
  height: 84px;
  position: relative;
}

.location_lists .jobList .jobBoxes .job_boxesDesigner .designer_box .designer_imgBox .desingner_link .art {
  width: 51.19px;
  height: 36.75px;
  padding: 6px 15px;
  border: 1px solid #f9f9ff;
  background: #fff;
  font-weight: 300;
  line-height: 1.625em;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #777777;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  position: relative;
  top: 6px;
}

.location_lists .jobList .jobBoxes .job_boxesDesigner .designer_box .designer_imgBox .desingner_link .art:hover {
  background-color: #49e4fa;
  color: #fff;
}

.location_lists .jobList .jobBoxes .job_boxesDesigner .designer_box .designer_imgBox .desingner_link .media {
  width: 74.61px;
  height: 36.75px;
  padding: 6px 15px;
  border: 1px solid #f9f9ff;
  background: #fff;
  font-weight: 300;
  line-height: 1.625em;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #777777;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  position: relative;
  left: 6px;
  top: 6px;
}

.location_lists .jobList .jobBoxes .job_boxesDesigner .designer_box .designer_imgBox .desingner_link .media:hover {
  background-color: #49e4fa;
  color: #fff;
}

.location_lists .jobList .jobBoxes .job_boxesDesigner .designer_box .designer_imgBox .desingner_link .design {
  width: 79.25px;
  height: 36.75px;
  padding: 6px 15px;
  border: 1px solid #f9f9ff;
  background: #fff;
  font-weight: 300;
  line-height: 1.625em;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #777777;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  position: relative;
  top: 20px;
}

.location_lists .jobList .jobBoxes .job_boxesDesigner .designer_box .designer_imgBox .desingner_link .design:hover {
  background-color: #49e4fa;
  color: #fff;
}

.location_lists .jobList .jobBoxes .job_boxesDesigner .designer_box .design_textBox {
  width: 76%;
  height: 234.6px;
}

.location_lists .jobList .jobBoxes .job_boxesDesigner .designer_box .design_textBox .designg_icons {
  width: 100%;
  height: 63.4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location_lists .jobList .jobBoxes .job_boxesDesigner .designer_box .design_textBox .designg_icons .textIcon h3 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #222222;
  font-weight: 600;
  line-height: 1.2em;
}

.location_lists .jobList .jobBoxes .job_boxesDesigner .designer_box .design_textBox .designg_icons .textIcon h6 {
  margin-top: 7px;
  font-size: 14px;
  color: #222222;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  line-height: 1.2em;
}

.location_lists .jobList .jobBoxes .job_boxesDesigner .designer_box .design_textBox .designg_icons .icon_designLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.location_lists .jobList .jobBoxes .job_boxesDesigner .designer_box .design_textBox .designg_icons .icon_designLink .icon_boxDesignh {
  width: 46px;
  height: 44.75px;
  border: 1px solid #eee;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.location_lists .jobList .jobBoxes .job_boxesDesigner .designer_box .design_textBox .designg_icons .icon_designLink .icon_boxDesignh:hover {
  background: #49e4fa;
  color: #fff;
}

.location_lists .jobList .jobBoxes .job_boxesDesigner .designer_box .design_textBox .designg_icons .icon_designLink a {
  width: 73.11px;
  height: 44.75px;
  border: 1px solid #eee;
  background: #fff;
  padding: 10px 15px;
  color: #222222;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.location_lists .jobList .jobBoxes .job_boxesDesigner .designer_box .design_textBox .designg_icons .icon_designLink a:hover {
  background: #49e4fa;
  color: #fff;
}

.location_lists .jobList .jobBoxes .job_boxesDesigner .designer_box .design_textBox p {
  margin-top: 5px;
  line-height: 1.625em;
  color: #777;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.location_lists .jobList .jobBoxes .job_boxesDesigner .designer_box .design_textBox h5 {
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  color: #222222;
  font-weight: 300;
  line-height: 1.2em;
  font-size: 16px;
}

.location_lists .jobList .jobBoxes .job_boxesDesigner .designer_box .design_textBox span {
  display: block;
  margin-top: 10px;
  margin-left: 2px;
  font-size: 14px;
  color: #222222;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  line-height: 1.625em;
}

.location_lists .jobList .jobBoxes .job_boxesDesigner .designer_box .design_textBox span .fa-map {
  font-size: 14px;
  color: coral;
}

.location_lists .jobList .jobBoxes .job_boxesDesigner .designer_box .design_textBox span .fa-coins {
  font-size: 14px;
  color: gold;
}

.location_lists .jobList .jobBoxes .loadMore_link {
  width: 200px;
  height: 38.75;
  background: #49e4fa;
  padding: 8px 15px;
  text-align: center;
  margin: auto;
  margin-top: 25px;
}

.location_lists .jobList .jobBoxes .loadMore_link a {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  font-weight: 300;
  line-height: 1.625em;
}

.location_lists .location_boxes {
  width: 30%;
  height: 2395.7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.location_lists .location_boxes .byLocation {
  width: 95%;
  height: 490.85px;
  background: #f9f9ff;
}

.location_lists .location_boxes .byLocation h3 {
  width: 90%;
  height: 21.6px;
  font-family: "Poppins", sans-serif;
  color: #222222;
  font-weight: 600;
  line-height: 1.2em;
  font-size: 18px;
  margin: auto;
  margin-top: 10px;
}

.location_lists .location_boxes .byLocation .cityLocation {
  width: 90%;
  height: 42.75px;
  background: #fff;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
}

.location_lists .location_boxes .byLocation .cityLocation:hover {
  background-image: -webkit-linear-gradient(0deg, #bfacff 0%, #795fff 100%);
}

.location_lists .location_boxes .byLocation .cityLocation:hover p {
  color: #fff;
}

.location_lists .location_boxes .byLocation .cityLocation p {
  color: #777777;
  font-weight: 300;
  line-height: 1.625em;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.location_lists .location_boxes .slideLocation {
  width: 95%;
  height: 500.85px;
  background: #f9f9ff;
}

.location_lists .location_boxes .slideLocation .swiper {
  width: 100%;
  height: 500.85px;
}

.location_lists .location_boxes .slideLocation .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.location_lists .location_boxes .slideLocation .swiper .swiper-slide .slideLocationBox {
  width: 100%;
  height: 500.85px;
  padding: 15px 10px;
  background: #f9f9ff;
}

.location_lists .location_boxes .slideLocation .swiper .swiper-slide .slideLocationBox h3 {
  width: 96%;
  height: 21.6px;
  font-family: "Poppins", sans-serif;
  color: #222222;
  font-weight: 600;
  line-height: 1.2em;
  font-size: 18px;
  text-align: left;
}

.location_lists .location_boxes .slideLocation .swiper .swiper-slide .slideLocationBox .locationImage {
  margin-top: 15px;
  width: 96%;
  height: 120px;
  background: url(/HOME/assets/image/background/xr1.jpg.pagespeed.ic.duIMHQH6F9.webp);
  background-size: cover;
  background-position: 50% 50%;
}

.location_lists .location_boxes .slideLocation .swiper .swiper-slide .slideLocationBox .textLocationSlide {
  margin-top: 15px;
  width: 96%;
  height: 300px;
}

.location_lists .location_boxes .slideLocation .swiper .swiper-slide .slideLocationBox .textLocationSlide h6 {
  margin-top: 5px;
  font-family: "Poppins", sans-serif;
  color: #222222;
  font-weight: 300;
  line-height: 1.2em;
  font-size: 16px;
  text-align: left;
}

.location_lists .location_boxes .slideLocation .swiper .swiper-slide .slideLocationBox .textLocationSlide p {
  margin-top: 5px;
  line-height: 1.625em;
  color: #777;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-align: left;
}

.location_lists .location_boxes .slideLocation .swiper .swiper-slide .slideLocationBox .textLocationSlide h5 {
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  color: #222222;
  font-weight: 300;
  line-height: 1.2em;
  font-size: 16px;
  text-align: left;
}

.location_lists .location_boxes .slideLocation .swiper .swiper-slide .slideLocationBox .textLocationSlide span {
  display: block;
  margin-top: 10px;
  margin-left: 2px;
  font-size: 14px;
  color: #222222;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  line-height: 1.625em;
  text-align: left;
}

.location_lists .location_boxes .slideLocation .swiper .swiper-slide .slideLocationBox .textLocationSlide span .fa-map {
  font-size: 14px;
  color: coral;
}

.location_lists .location_boxes .slideLocation .swiper .swiper-slide .slideLocationBox .textLocationSlide span .fa-coins {
  font-size: 14px;
  color: gold;
}

.location_lists .location_boxes .slideLocation .swiper .swiper-slide .slideLocationBox .textLocationSlide .applyLocation {
  width: 122.93px;
  height: 44.75px;
  background: #49e4fa;
  border: 1px solid #49e4fa;
  padding: 10px 25px;
  margin-top: 10px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  cursor: pointer;
}

.location_lists .location_boxes .slideLocation .swiper .swiper-slide .slideLocationBox .textLocationSlide .applyLocation:hover {
  background: #fff;
  border-color: #49e4fa;
}

.location_lists .location_boxes .slideLocation .swiper .swiper-slide .slideLocationBox .textLocationSlide .applyLocation:hover a {
  color: #49e4fa;
}

.location_lists .location_boxes .slideLocation .swiper .swiper-slide .slideLocationBox .textLocationSlide .applyLocation a {
  color: #fff;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.625em;
  font-weight: 300;
}

.location_lists .location_boxes .slideLocation .swiper .swiper-slide .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.location_lists .location_boxes .byCategory {
  width: 95%;
  height: 490.85px;
  background: #f9f9ff;
}

.location_lists .location_boxes .byCategory h3 {
  width: 90%;
  height: 21.6px;
  font-family: "Poppins", sans-serif;
  color: #222222;
  font-weight: 600;
  line-height: 1.2em;
  font-size: 18px;
  margin: auto;
  margin-top: 10px;
}

.location_lists .location_boxes .byCategory .cityCategory {
  width: 90%;
  height: 42.75px;
  background: #fff;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
}

.location_lists .location_boxes .byCategory .cityCategory:hover {
  background-image: -webkit-linear-gradient(0deg, #bfacff 0%, #795fff 100%);
}

.location_lists .location_boxes .byCategory .cityCategory:hover p {
  color: #fff;
}

.location_lists .location_boxes .byCategory .cityCategory p {
  color: #777777;
  font-weight: 300;
  line-height: 1.625em;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.location_lists .location_boxes .advice_blog {
  width: 95%;
  height: 490.85px;
  background: #f9f9ff;
}

.location_lists .location_boxes .advice_blog h3 {
  width: 90%;
  height: 21.6px;
  font-family: "Poppins", sans-serif;
  color: #222222;
  font-weight: 600;
  line-height: 1.2em;
  font-size: 18px;
  margin: auto;
  margin-top: 10px;
}

.location_lists .location_boxes .advice_blog .audio_record_box {
  width: 90%;
  height: 121.95px;
  background-image: url(/HOME/assets/image/background/xblog1.jpg.pagespeed.ic.bkAekKjmlO.webp);
  background-size: cover;
  background-position: 50% 50%;
  margin: auto;
  margin-top: 20px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.location_lists .location_boxes .advice_blog .audio_record_box h4 {
  width: 80%;
  height: 63.2px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
  line-height: 1.2em;
}

.location_lists .location_boxes .advice_blog .audio_record_box .span_text {
  width: 90%;
  height: 38.75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location_lists .location_boxes .advice_blog .audio_record_box .span_text span {
  color: #fff;
  font-weight: 300;
  line-height: 1.625em;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.joinUs {
  width: 100%;
  height: 418.7px;
  background-image: -webkit-linear-gradient(0deg, #bfacff 0%, #795fff 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.joinUs .container .hestitaion {
  width: 80%;
  height: 178.7px;
  margin: auto;
}

.joinUs .container .hestitaion h2 {
  width: 89%;
  height: 43.2px;
  color: #fff;
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.2em;
  margin: auto;
  text-align: center;
}

.joinUs .container .hestitaion p {
  width: 89%;
  height: 45.5px;
  line-height: 1.625em;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  margin: auto;
  margin-top: 12px;
  text-align: center;
}

.joinUs .container .hestitaion .joinLink {
  width: 60%;
  height: 45px;
  margin: auto;
  margin-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.joinUs .container .hestitaion .joinLink .canditate_link {
  width: 206px;
  height: 44px;
  padding: 0 40px;
  cursor: pointer;
  margin-left: 20px;
  background: #49e4fa;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}

.joinUs .container .hestitaion .joinLink .canditate_link:hover {
  background: #ad9aff;
}

.joinUs .container .hestitaion .joinLink .canditate_link a {
  color: #fff;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 42px;
  font-weight: 500;
}

.joinUs .container .hestitaion .joinLink .request_link {
  width: 218px;
  height: 44px;
  padding: 0 40px;
  cursor: pointer;
  margin-left: 20px;
  background: #49e4fa;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}

.joinUs .container .hestitaion .joinLink .request_link:hover {
  background: #ad9aff;
}

.joinUs .container .hestitaion .joinLink .request_link a {
  color: #fff;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 42px;
  font-weight: 500;
}

.downlandApp {
  width: 100%;
  height: 560.1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.downlandApp .downland_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.downlandApp .downland_box .phone_background {
  width: 45%;
  height: 320.1px;
  background: url(/HOME/assets/image/background/phone.webp);
  background-size: cover;
  background-position: 50% 50%;
}

.downlandApp .downland_box .downland_text_box {
  width: 45%;
  height: 320.1px;
}

.downlandApp .downland_box .downland_text_box h2 {
  width: 94%;
  height: 86.4px;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  color: #222222;
  font-weight: 600;
  line-height: 1.2em;
}

.downlandApp .downland_box .downland_text_box p {
  width: 94%;
  height: 131px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.625em;
  color: #777;
  margin-top: 10px;
}

.downlandApp .downland_box .downland_text_box .dowland_link {
  width: 94%;
  height: 86.7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.downlandApp .downland_box .downland_text_box .dowland_link .iosLink {
  width: 40%;
  height: 86.7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #eee;
  background: #fff;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.downlandApp .downland_box .downland_text_box .dowland_link .iosLink:hover {
  background: #49e4fa;
  -webkit-box-shadow: 0 8px 20px 0;
          box-shadow: 0 8px 20px 0;
  border-color: #49e4fa;
}

.downlandApp .downland_box .downland_text_box .dowland_link .iosLink:hover .ios_icon .fa-apple {
  color: #fff;
}

.downlandApp .downland_box .downland_text_box .dowland_link .iosLink:hover .ious_text h4 {
  color: #fff;
}

.downlandApp .downland_box .downland_text_box .dowland_link .iosLink:hover .ious_text span {
  color: #fff;
}

.downlandApp .downland_box .downland_text_box .dowland_link .iosLink .ios_icon {
  width: 31.44px;
  height: 48px;
}

.downlandApp .downland_box .downland_text_box .dowland_link .iosLink .ios_icon .fa-apple {
  color: #49e4fa;
  font-size: 40px;
}

.downlandApp .downland_box .downland_text_box .dowland_link .iosLink .ious_text {
  width: 115.2px;
  height: 48.7px;
  position: relative;
  bottom: 5px;
  left: 2px;
}

.downlandApp .downland_box .downland_text_box .dowland_link .iosLink .ious_text h4 {
  width: 115px;
  height: 30px;
  color: #222222;
  font-weight: 600;
  line-height: 1.625em;
  font-size: 24px;
}

.downlandApp .downland_box .downland_text_box .dowland_link .iosLink .ious_text span {
  width: 115px;
  height: 14px;
  color: #222222;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.625em;
  font-size: 14px;
}

.downlandApp .downland_box .downland_text_box .dowland_link .androidLink {
  width: 40%;
  height: 86.7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #eee;
  background: #fff;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.downlandApp .downland_box .downland_text_box .dowland_link .androidLink:hover {
  background: #49e4fa;
  -webkit-box-shadow: 0 8px 20px 0;
          box-shadow: 0 8px 20px 0;
  border-color: #49e4fa;
}

.downlandApp .downland_box .downland_text_box .dowland_link .androidLink:hover .android_icon .fa-robot {
  color: #fff;
}

.downlandApp .downland_box .downland_text_box .dowland_link .androidLink:hover .adroid_text h4 {
  color: #fff;
}

.downlandApp .downland_box .downland_text_box .dowland_link .androidLink:hover .adroid_text span {
  color: #fff;
}

.downlandApp .downland_box .downland_text_box .dowland_link .androidLink .android_icon {
  width: 31.44px;
  height: 40px;
}

.downlandApp .downland_box .downland_text_box .dowland_link .androidLink .android_icon .fa-robot {
  color: #49e4fa;
  font-size: 40px;
}

.downlandApp .downland_box .downland_text_box .dowland_link .androidLink .adroid_text {
  width: 115.2px;
  height: 48.7px;
  position: relative;
  bottom: 5px;
  left: 11px;
}

.downlandApp .downland_box .downland_text_box .dowland_link .androidLink .adroid_text h4 {
  width: 115px;
  height: 30px;
  color: #222222;
  font-weight: 600;
  line-height: 1.625em;
  font-size: 24px;
}

.downlandApp .downland_box .downland_text_box .dowland_link .androidLink .adroid_text span {
  width: 115px;
  height: 14px;
  color: #222222;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.625em;
  font-size: 14px;
}
/*# sourceMappingURL=home.css.map */