* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.scroll_to_button {
  position: fixed;
  bottom: 800px;
  right: 40px;
  width: 60px;
  height: 60px;
  background: orange;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 100000;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.scroll_to_button .fa-arrow-up {
  color: #222222;
  font-size: 18px;
}

.scroll_visibilty_opacity {
  bottom: 40px;
  visibility: visible;
  opacity: 1;
}

.header {
  width: 100%;
  height: 62.75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 9999;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.header .main_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .main_box .logo {
  width: 16%;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .main_box .logo img {
  width: 100%;
}

.header .main_box .navbar {
  width: 70%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .main_box .navbar ul {
  width: 85%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .main_box .navbar ul li a {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.625em;
}

.header .main_box .navbar ul .page {
  position: relative;
  padding: 20px;
  -webkit-transition: 3s all ease-in-out;
  transition: 3s all ease-in-out;
}

.header .main_box .navbar ul .page:hover .dropdown-content {
  display: block;
}

.header .main_box .navbar ul .page a {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.625em;
}

.header .main_box .navbar ul .page .fa-angle-down {
  color: #fff;
  font-size: 11px;
  margin-left: 3px;
  cursor: pointer;
}

.header .main_box .navbar ul .page .dropdown-content {
  display: none;
  width: 190px;
  height: 98px;
  border: 1px solid #fff;
  background: #fff;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 5px 0;
          box-shadow: 1px 1px 5px 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 99;
  -webkit-transition: 3s all ease-in-out;
  transition: 3s all ease-in-out;
}

.header .main_box .navbar ul .page .dropdown-content ul {
  position: relative;
  width: 47%;
  height: auto;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.header .main_box .navbar ul .page .dropdown-content ul li {
  text-align: left;
}

.header .main_box .navbar ul .page .dropdown-content ul li a {
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.header .main_box .navbar ul .page .dropdown-content ul li a:hover {
  color: #49e4fa;
}

.header .main_box .navbar ul .page .dropdown-content ul li .left {
  position: relative;
  right: 4px;
}

.header .main_box .navbar ul .page .dropdown-content ul li .left_small {
  position: relative;
  right: 8px;
}

.header .main_box .navbar .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .main_box .navbar .link a {
  width: 82.83px;
  height: 32px;
  border: 1px solid #49e4fa;
  background: #49e4fa;
  padding: 6px 20px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.625em;
  color: #fff;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.header .main_box .navbar .link a:hover {
  color: #49e4fa;
  background-color: rgba(73, 228, 250, 0.2);
  border-color: rgba(73, 228, 250, 0.2);
}

.header .main_box .responsive_navbar {
  display: none;
}

.scroll_change {
  width: 100%;
  height: 62.75px;
  background: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 9999;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.job_posted {
  width: 100%;
  height: 406.35px;
  background: url(/BLOG/assets/images/background/xheader-bg.jpg.pagespeed.ic.jWLVfyHhFJ.webp);
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.job_posted .overlay {
  background-image: -webkit-linear-gradient(0deg, #bfacff 0%, #795fff 100%);
  position: absolute;
  inset: 0px;
  opacity: 0.95;
}

.job_posted .job_box {
  margin: auto;
}

.job_posted .job_box .about_box {
  width: 100%;
  height: 85px;
  text-align: center;
  position: relative;
  z-index: 10;
}

.job_posted .job_box .about_box h1 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.2em;
  font-size: 48px;
}

.job_posted .job_box .about_box span {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.625em;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
}

.job_posted .job_box .about_box .fa-arrow-right {
  color: #fff;
  font-size: 14px;
}

.blog_list {
  width: 100%;
  height: 3000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog_list .blog_contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog_list .blog_contain .blog_image {
  width: 60%;
  height: 2800px;
}

.blog_list .blog_contain .blog_image .blog_background {
  width: 95%;
  height: 655px;
  margin: auto;
}

.blog_list .blog_contain .blog_image .blog_background .blog_backgrounImage {
  width: 100%;
  height: 313px;
  background: url(/BLOG/assets/images/background/xp1.jpg.pagespeed.ic.vaW7y-w6mv.webp);
  background-size: cover;
  background-position: 50% 50%;
}

.blog_list .blog_contain .blog_image .blog_background h6 {
  width: 100%;
  height: 23px;
  color: #222222;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  line-height: 1.625em;
  font-size: 14px;
  margin-top: 30px;
}

.blog_list .blog_contain .blog_image .blog_background h2 {
  width: 100%;
  height: 87px;
  color: #222222;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2em;
  margin-top: 18px;
}

.blog_list .blog_contain .blog_image .blog_background p {
  width: 100%;
  height: 114px;
  color: #777;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  line-height: 1.625em;
  font-size: 14px;
  margin-top: 15px;
}

.blog_list .blog_contain .blog_image .blog_background .blog_icon {
  width: 100%;
  height: 23px;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog_list .blog_contain .blog_image .blog_background .blog_icon .blog_span {
  width: 40%;
  height: 23px;
}

.blog_list .blog_contain .blog_image .blog_background .blog_icon .blog_span span {
  color: #777;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  line-height: 1.625em;
  font-size: 14px;
}

.blog_list .blog_contain .blog_image .blog_background .blog_icon .blog_span .mg-left {
  margin-left: 15px;
}

.blog_list .blog_contain .blog_image .blog_background .blog_icon .iconBlog_box {
  width: 40%;
  height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog_list .blog_contain .blog_image .blog_background .blog_icon .iconBlog_box .fa-facebook-f {
  font-size: 14px;
  color: #777;
  font-weight: 300;
  margin-right: 20px;
  cursor: pointer;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.blog_list .blog_contain .blog_image .blog_background .blog_icon .iconBlog_box .fa-facebook-f:hover {
  color: black;
}

.blog_list .blog_contain .blog_image .blog_background .blog_icon .iconBlog_box .fa-twitter {
  font-size: 14px;
  color: #777;
  font-weight: 300;
  margin-right: 20px;
  cursor: pointer;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.blog_list .blog_contain .blog_image .blog_background .blog_icon .iconBlog_box .fa-twitter:hover {
  color: black;
}

.blog_list .blog_contain .blog_image .blog_background .blog_icon .iconBlog_box .fa-dribbble {
  font-size: 14px;
  color: #777;
  font-weight: 300;
  margin-right: 20px;
  cursor: pointer;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.blog_list .blog_contain .blog_image .blog_background .blog_icon .iconBlog_box .fa-dribbble:hover {
  color: black;
}

.blog_list .blog_contain .blog_image .blog_background .blog_icon .iconBlog_box .fa-behance {
  font-size: 14px;
  color: #777;
  font-weight: 300;
  margin-right: 20px;
  cursor: pointer;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.blog_list .blog_contain .blog_image .blog_background .blog_icon .iconBlog_box .fa-behance:hover {
  color: black;
}

.blog_list .blog_contain .blog_image .blog_background1 {
  width: 95%;
  height: 655px;
  margin: auto;
  margin-top: 15px;
}

.blog_list .blog_contain .blog_image .blog_background1 .blog_backgrounImage {
  width: 100%;
  height: 313px;
  background: url(/BLOG/assets/images/background/xp2.jpg.pagespeed.ic.SAH9ANC07Q.webp);
  background-size: cover;
  background-position: 50% 50%;
}

.blog_list .blog_contain .blog_image .blog_background1 h6 {
  width: 100%;
  height: 23px;
  color: #222222;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  line-height: 1.625em;
  font-size: 14px;
  margin-top: 30px;
}

.blog_list .blog_contain .blog_image .blog_background1 h2 {
  width: 100%;
  height: 87px;
  color: #222222;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2em;
  margin-top: 18px;
}

.blog_list .blog_contain .blog_image .blog_background1 p {
  width: 100%;
  height: 114px;
  color: #777;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  line-height: 1.625em;
  font-size: 14px;
  margin-top: 15px;
}

.blog_list .blog_contain .blog_image .blog_background1 .blog_icon {
  width: 100%;
  height: 23px;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog_list .blog_contain .blog_image .blog_background1 .blog_icon .blog_span {
  width: 40%;
  height: 23px;
}

.blog_list .blog_contain .blog_image .blog_background1 .blog_icon .blog_span span {
  color: #777;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  line-height: 1.625em;
  font-size: 14px;
}

.blog_list .blog_contain .blog_image .blog_background1 .blog_icon .blog_span .mg-left {
  margin-left: 15px;
}

.blog_list .blog_contain .blog_image .blog_background1 .blog_icon .iconBlog_box {
  width: 40%;
  height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog_list .blog_contain .blog_image .blog_background1 .blog_icon .iconBlog_box .fa-facebook-f {
  font-size: 14px;
  color: #777;
  font-weight: 300;
  margin-right: 20px;
  cursor: pointer;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.blog_list .blog_contain .blog_image .blog_background1 .blog_icon .iconBlog_box .fa-facebook-f:hover {
  color: black;
}

.blog_list .blog_contain .blog_image .blog_background1 .blog_icon .iconBlog_box .fa-twitter {
  font-size: 14px;
  color: #777;
  font-weight: 300;
  margin-right: 20px;
  cursor: pointer;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.blog_list .blog_contain .blog_image .blog_background1 .blog_icon .iconBlog_box .fa-twitter:hover {
  color: black;
}

.blog_list .blog_contain .blog_image .blog_background1 .blog_icon .iconBlog_box .fa-dribbble {
  font-size: 14px;
  color: #777;
  font-weight: 300;
  margin-right: 20px;
  cursor: pointer;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.blog_list .blog_contain .blog_image .blog_background1 .blog_icon .iconBlog_box .fa-dribbble:hover {
  color: black;
}

.blog_list .blog_contain .blog_image .blog_background1 .blog_icon .iconBlog_box .fa-behance {
  font-size: 14px;
  color: #777;
  font-weight: 300;
  margin-right: 20px;
  cursor: pointer;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.blog_list .blog_contain .blog_image .blog_background1 .blog_icon .iconBlog_box .fa-behance:hover {
  color: black;
}

.blog_list .blog_contain .blog_image .blog_background2 {
  width: 95%;
  height: 655px;
  margin: auto;
  margin-top: 15px;
}

.blog_list .blog_contain .blog_image .blog_background2 .blog_backgrounImage {
  width: 100%;
  height: 313px;
  background: url(/BLOG/assets/images/background/xp3.jpg.pagespeed.ic.hbUPfOh7DX.webp);
  background-size: cover;
  background-position: 50% 50%;
}

.blog_list .blog_contain .blog_image .blog_background2 h6 {
  width: 100%;
  height: 23px;
  color: #222222;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  line-height: 1.625em;
  font-size: 14px;
  margin-top: 30px;
}

.blog_list .blog_contain .blog_image .blog_background2 h2 {
  width: 100%;
  height: 87px;
  color: #222222;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2em;
  margin-top: 18px;
}

.blog_list .blog_contain .blog_image .blog_background2 p {
  width: 100%;
  height: 114px;
  color: #777;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  line-height: 1.625em;
  font-size: 14px;
  margin-top: 15px;
}

.blog_list .blog_contain .blog_image .blog_background2 .blog_icon {
  width: 100%;
  height: 23px;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog_list .blog_contain .blog_image .blog_background2 .blog_icon .blog_span {
  width: 40%;
  height: 23px;
}

.blog_list .blog_contain .blog_image .blog_background2 .blog_icon .blog_span span {
  color: #777;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  line-height: 1.625em;
  font-size: 14px;
}

.blog_list .blog_contain .blog_image .blog_background2 .blog_icon .blog_span .mg-left {
  margin-left: 15px;
}

.blog_list .blog_contain .blog_image .blog_background2 .blog_icon .iconBlog_box {
  width: 40%;
  height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog_list .blog_contain .blog_image .blog_background2 .blog_icon .iconBlog_box .fa-facebook-f {
  font-size: 14px;
  color: #777;
  font-weight: 300;
  margin-right: 20px;
  cursor: pointer;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.blog_list .blog_contain .blog_image .blog_background2 .blog_icon .iconBlog_box .fa-facebook-f:hover {
  color: black;
}

.blog_list .blog_contain .blog_image .blog_background2 .blog_icon .iconBlog_box .fa-twitter {
  font-size: 14px;
  color: #777;
  font-weight: 300;
  margin-right: 20px;
  cursor: pointer;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.blog_list .blog_contain .blog_image .blog_background2 .blog_icon .iconBlog_box .fa-twitter:hover {
  color: black;
}

.blog_list .blog_contain .blog_image .blog_background2 .blog_icon .iconBlog_box .fa-dribbble {
  font-size: 14px;
  color: #777;
  font-weight: 300;
  margin-right: 20px;
  cursor: pointer;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.blog_list .blog_contain .blog_image .blog_background2 .blog_icon .iconBlog_box .fa-dribbble:hover {
  color: black;
}

.blog_list .blog_contain .blog_image .blog_background2 .blog_icon .iconBlog_box .fa-behance {
  font-size: 14px;
  color: #777;
  font-weight: 300;
  margin-right: 20px;
  cursor: pointer;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.blog_list .blog_contain .blog_image .blog_background2 .blog_icon .iconBlog_box .fa-behance:hover {
  color: black;
}

.blog_list .blog_contain .blog_image .blog_background3 {
  width: 95%;
  height: 655px;
  margin: auto;
  margin-top: 15px;
}

.blog_list .blog_contain .blog_image .blog_background3 .blog_backgrounImage {
  width: 100%;
  height: 313px;
  background: url(/BLOG/assets/images/background/xp4.jpg.pagespeed.ic.uS_nNHTixG.webp);
  background-size: cover;
  background-position: 50% 50%;
}

.blog_list .blog_contain .blog_image .blog_background3 h6 {
  width: 100%;
  height: 23px;
  color: #222222;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  line-height: 1.625em;
  font-size: 14px;
  margin-top: 30px;
}

.blog_list .blog_contain .blog_image .blog_background3 h2 {
  width: 100%;
  height: 87px;
  color: #222222;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2em;
  margin-top: 18px;
}

.blog_list .blog_contain .blog_image .blog_background3 p {
  width: 100%;
  height: 114px;
  color: #777;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  line-height: 1.625em;
  font-size: 14px;
  margin-top: 15px;
}

.blog_list .blog_contain .blog_image .blog_background3 .blog_icon {
  width: 100%;
  height: 23px;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog_list .blog_contain .blog_image .blog_background3 .blog_icon .blog_span {
  width: 40%;
  height: 23px;
}

.blog_list .blog_contain .blog_image .blog_background3 .blog_icon .blog_span span {
  color: #777;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  line-height: 1.625em;
  font-size: 14px;
}

.blog_list .blog_contain .blog_image .blog_background3 .blog_icon .blog_span .mg-left {
  margin-left: 15px;
}

.blog_list .blog_contain .blog_image .blog_background3 .blog_icon .iconBlog_box {
  width: 40%;
  height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog_list .blog_contain .blog_image .blog_background3 .blog_icon .iconBlog_box .fa-facebook-f {
  font-size: 14px;
  color: #777;
  font-weight: 300;
  margin-right: 20px;
  cursor: pointer;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.blog_list .blog_contain .blog_image .blog_background3 .blog_icon .iconBlog_box .fa-facebook-f:hover {
  color: black;
}

.blog_list .blog_contain .blog_image .blog_background3 .blog_icon .iconBlog_box .fa-twitter {
  font-size: 14px;
  color: #777;
  font-weight: 300;
  margin-right: 20px;
  cursor: pointer;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.blog_list .blog_contain .blog_image .blog_background3 .blog_icon .iconBlog_box .fa-twitter:hover {
  color: black;
}

.blog_list .blog_contain .blog_image .blog_background3 .blog_icon .iconBlog_box .fa-dribbble {
  font-size: 14px;
  color: #777;
  font-weight: 300;
  margin-right: 20px;
  cursor: pointer;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.blog_list .blog_contain .blog_image .blog_background3 .blog_icon .iconBlog_box .fa-dribbble:hover {
  color: black;
}

.blog_list .blog_contain .blog_image .blog_background3 .blog_icon .iconBlog_box .fa-behance {
  font-size: 14px;
  color: #777;
  font-weight: 300;
  margin-right: 20px;
  cursor: pointer;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.blog_list .blog_contain .blog_image .blog_background3 .blog_icon .iconBlog_box .fa-behance:hover {
  color: black;
}

.blog_list .blog_contain .blog_aside {
  width: 30%;
  height: 2800px;
}

.blog_list .blog_contain .blog_aside .blog_search {
  width: 95%;
  height: 127px;
  border: 1px solid #eee;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog_list .blog_contain .blog_aside .blog_search form {
  width: 90%;
  height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog_list .blog_contain .blog_aside .blog_search form input {
  width: 65%;
  height: 43px;
  outline: none;
  border: 1px solid #eee;
  background: #eee;
  padding: 10px;
}

.blog_list .blog_contain .blog_aside .blog_search form input::-webkit-input-placeholder {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #777777;
  font-weight: 500;
  line-height: 1.2em;
  text-transform: capitalize;
}

.blog_list .blog_contain .blog_aside .blog_search form input:-ms-input-placeholder {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #777777;
  font-weight: 500;
  line-height: 1.2em;
  text-transform: capitalize;
}

.blog_list .blog_contain .blog_aside .blog_search form input::-ms-input-placeholder {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #777777;
  font-weight: 500;
  line-height: 1.2em;
  text-transform: capitalize;
}

.blog_list .blog_contain .blog_aside .blog_search form input::placeholder {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #777777;
  font-weight: 500;
  line-height: 1.2em;
  text-transform: capitalize;
}

.blog_list .blog_contain .blog_aside .blog_search form button {
  width: 25%;
  height: 43px;
  background: #eee;
  outline: none;
  border: 1px solid #eee;
  cursor: pointer;
}

.blog_list .blog_contain .blog_aside .blog_search form button .fa-searchengin {
  font-size: 22px;
  color: #49e4fa;
}

.blog_list .blog_contain .blog_aside .blog_info {
  width: 95%;
  height: 447px;
  border: 1px solid #eee;
  margin: auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog_list .blog_contain .blog_aside .blog_info .info_img {
  width: 35%;
  height: 120px;
}

.blog_list .blog_contain .blog_aside .blog_info .info_img img {
  width: 100%;
}

.blog_list .blog_contain .blog_aside .blog_info h4 {
  width: 80%;
  height: 45px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #222222;
  line-height: 1.2em;
  text-align: center;
  margin-top: 15px;
}

.blog_list .blog_contain .blog_aside .blog_info p {
  width: 90%;
  height: 114px;
  color: #777;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  line-height: 1.625em;
  font-weight: 300;
  text-align: center;
}

.blog_list .blog_contain .blog_aside .blog_info .info_icon {
  width: 80%;
  height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.blog_list .blog_contain .blog_aside .blog_info .info_icon .fa-facebook-f {
  font-size: 14px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.blog_list .blog_contain .blog_aside .blog_info .info_icon .fa-facebook-f:hover {
  color: #49e4fa;
}

.blog_list .blog_contain .blog_aside .blog_info .info_icon .fa-twitter {
  font-size: 14px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.blog_list .blog_contain .blog_aside .blog_info .info_icon .fa-twitter:hover {
  color: #49e4fa;
}

.blog_list .blog_contain .blog_aside .blog_info .info_icon .fa-dribbble {
  font-size: 14px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.blog_list .blog_contain .blog_aside .blog_info .info_icon .fa-dribbble:hover {
  color: #49e4fa;
}

.blog_list .blog_contain .blog_aside .blog_info .info_icon .fa-behance {
  font-size: 14px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.blog_list .blog_contain .blog_aside .blog_info .info_icon .fa-behance:hover {
  color: #49e4fa;
}

.blog_list .blog_contain .blog_aside .blog_post {
  width: 95%;
  height: 440px;
  border: 1px solid #eee;
  padding: 30px 20px;
  margin: auto;
  margin-top: 20px;
}

.blog_list .blog_contain .blog_aside .blog_post h3 {
  width: 80%;
  height: 22px;
  color: #222222;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.2em;
  font-weight: 600;
}

.blog_list .blog_contain .blog_aside .blog_post .postBlog {
  width: 96%;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #eee;
  margin-top: 10px;
  cursor: pointer;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.blog_list .blog_contain .blog_aside .blog_post .postBlog:hover {
  border-color: #49e4fa;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.blog_list .blog_contain .blog_aside .blog_post .postBlog:hover p {
  color: #49e4fa;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.blog_list .blog_contain .blog_aside .blog_post .postBlog p {
  font-size: 14px;
  color: #777;
  font-family: "Poppins", sans-serif;
  line-height: 1.625em;
  font-weight: 300;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.blog_list .blog_contain .blog_aside .blog_recent {
  width: 95%;
  height: 500px;
  border: 1px solid #eee;
  padding: 30px 20px;
  margin: auto;
  margin-top: 20px;
}

.blog_list .blog_contain .blog_aside .blog_recent h3 {
  width: 80%;
  height: 22px;
  color: #222222;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.2em;
  font-weight: 600;
}

.blog_list .blog_contain .blog_aside .blog_recent .recent_imgBlog {
  width: 96%;
  height: 91px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12px;
}

.blog_list .blog_contain .blog_aside .blog_recent .recent_imgBlog .recent_img {
  width: 25%;
  height: 75px;
}

.blog_list .blog_contain .blog_aside .blog_recent .recent_imgBlog .recent_img img {
  width: 100%;
}

.blog_list .blog_contain .blog_aside .blog_recent .recent_imgBlog .recent_img1 {
  width: 25%;
  height: 75px;
}

.blog_list .blog_contain .blog_aside .blog_recent .recent_imgBlog .recent_img1 img {
  width: 100%;
}

.blog_list .blog_contain .blog_aside .blog_recent .recent_imgBlog .recent_img2 {
  width: 25%;
  height: 75px;
}

.blog_list .blog_contain .blog_aside .blog_recent .recent_imgBlog .recent_img2 img {
  width: 100%;
}

.blog_list .blog_contain .blog_aside .blog_recent .recent_imgBlog .recent_img3 {
  width: 25%;
  height: 75px;
}

.blog_list .blog_contain .blog_aside .blog_recent .recent_imgBlog .recent_img3 img {
  width: 100%;
}

.blog_list .blog_contain .blog_aside .blog_recent .recent_imgBlog .recent_textBlog {
  width: 75%;
  height: 75px;
  margin-left: 10px;
}

.blog_list .blog_contain .blog_aside .blog_recent .recent_imgBlog .recent_textBlog h5 {
  width: 100%;
  height: 42px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #222222;
  line-height: 1.2em;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.blog_list .blog_contain .blog_aside .blog_recent .recent_imgBlog .recent_textBlog h5:hover {
  color: #49e4fa;
}

.blog_list .blog_contain .blog_aside .blog_recent .recent_imgBlog .recent_textBlog p {
  width: 100%;
  height: 23px;
  font-size: 14px;
  color: #777;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  line-height: 1.625em;
}

.blog_list .blog_contain .blog_archive {
  width: 95%;
  height: 440px;
  border: 1px solid #eee;
  padding: 30px 20px;
  margin: auto;
  margin-top: 20px;
}

.blog_list .blog_contain .blog_archive h3 {
  width: 80%;
  height: 22px;
  color: #222222;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.2em;
  font-weight: 600;
}

.blog_list .blog_contain .blog_archive .postBlog {
  width: 96%;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #eee;
  margin-top: 10px;
  cursor: pointer;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.blog_list .blog_contain .blog_archive .postBlog:hover {
  border-color: #49e4fa;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.blog_list .blog_contain .blog_archive .postBlog:hover p {
  color: #49e4fa;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.blog_list .blog_contain .blog_archive .postBlog p {
  font-size: 14px;
  color: #777;
  font-family: "Poppins", sans-serif;
  line-height: 1.625em;
  font-weight: 300;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.blog_list .blog_contain .blog_clouds {
  width: 95%;
  height: 280px;
  border: 1px solid #eee;
  margin: auto;
  margin-top: 20px;
  padding: 40px 30px;
}

.blog_list .blog_contain .blog_clouds h3 {
  width: 80%;
  height: 22px;
  color: #222222;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.2em;
  font-weight: 600;
}

.blog_list .blog_contain .blog_clouds .cloud_link {
  width: 90%;
  height: 147px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 15px;
}

.blog_list .blog_contain .blog_clouds .cloud_link .linkDiv {
  width: 30%;
  height: 41px;
  background: #fff;
  border: 1px solid #eee;
  text-transform: capitalize;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 8px;
}

.blog_list .blog_contain .blog_clouds .cloud_link .linkDiv:hover {
  background: #49e4fa;
}

.blog_list .blog_contain .blog_clouds .cloud_link .linkDiv:hover a {
  color: #fff;
}

.blog_list .blog_contain .blog_clouds .cloud_link .linkDiv a {
  color: #222222;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  line-height: 1.625em;
  font-size: 14px;
}

.footer {
  width: 100%;
  height: 512px;
  background: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footCon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footCon .information {
  width: 90%;
  height: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footCon .information h3 {
  width: 95%;
  height: 22px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  line-height: 1.2em;
}

.footer .footCon .information .footer_products {
  width: 25%;
  height: 161.6px;
}

.footer .footCon .information .footer_products ul {
  width: 95%;
  height: 130px;
}

.footer .footCon .information .footer_products ul li {
  margin-top: 10px;
}

.footer .footCon .information .footer_products ul li a {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #fff;
  font-weight: 300;
  line-height: 1.625em;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.footer .footCon .information .footer_products ul li a:hover {
  color: #49e4fa;
}

.footer .footCon .information .newsletter {
  width: 45%;
  height: 172.6px;
  position: relative;
}

.footer .footCon .information .newsletter p {
  width: 95%;
  height: 22.75px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  margin-top: 15px;
}

.footer .footCon .information .newsletter form {
  width: 95%;
  height: 44px;
  margin-top: 15px;
}

.footer .footCon .information .newsletter form input {
  width: 60%;
  height: 40px;
  border-radius: 20px;
  padding: 1px 2px 1px 20px;
}

.footer .footCon .information .newsletter form input::-webkit-input-placeholder {
  color: #777;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 38px;
}

.footer .footCon .information .newsletter form input:-ms-input-placeholder {
  color: #777;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 38px;
}

.footer .footCon .information .newsletter form input::-ms-input-placeholder {
  color: #777;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 38px;
}

.footer .footCon .information .newsletter form input::placeholder {
  color: #777;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 38px;
}

.footer .footCon .information .newsletter form button {
  width: 35%;
  height: 44px;
  border-color: #49e4fa;
  border-radius: 25px;
  line-height: 42px;
  text-transform: uppercase;
  background: #49e4fa;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin-left: 18px;
  position: relative;
  cursor: pointer;
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
}

.footer .footCon .information .newsletter form button:hover .fa-arrow-right {
  position: relative;
  left: 12px;
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
}

.footer .footCon .information .newsletter form button .fa-arrow-right {
  margin-left: 10px;
  font-size: 12px;
}

.footer .footCon .information .newsletter .span {
  display: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.625em;
  position: relative;
  top: 25px;
  left: 5px;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.footer .footCon .information .newsletter .display_block_click {
  display: block;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.625em;
  position: relative;
  top: 25px;
  left: 5px;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.footer .footCon .information .instagram_feed {
  width: 25%;
  height: 172.6px;
}

.footer .footCon .information .instagram_feed .img_feedBox {
  width: 95%;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.footer .footCon .information .instagram_feed .img_feedBox .feedImage {
  width: 20%;
  height: 58px;
}

.footer .footCon .information .instagram_feed .img_feedBox .feedImage img {
  width: 100%;
}

.footer .footCon .endOfFooter {
  width: 90%;
  height: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footCon .endOfFooter .colorlibFooter {
  width: 52%;
  height: 40px;
}

.footer .footCon .endOfFooter .colorlibFooter p {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 300;
  line-height: 1.625em;
}

.footer .footCon .endOfFooter .colorlibFooter p .fa-heart {
  color: #49e4fa;
}

.footer .footCon .endOfFooter .colorlibFooter p a {
  color: #49e4fa;
}

.footer .footCon .endOfFooter .icon_footer {
  width: 30%;
  height: 40px;
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.footer .footCon .endOfFooter .icon_footer .fotterIcon_colorlib {
  width: 12%;
  height: 40px;
  background: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.footer .footCon .endOfFooter .icon_footer .fotterIcon_colorlib:hover {
  background: #49e4fa;
}

.footer .footCon .endOfFooter .icon_footer .fotterIcon_colorlib a {
  font-weight: 300;
  line-height: 1.625em;
  font-size: 14px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
/*# sourceMappingURL=blog.css.map */